<div class="container">
  <div>
    {{#link-to 'artists.new'}}
  <h1><em>  Add an Artist</em></h1>
  <br>
    {{/link-to}}
  </div>

  <div class="row">
    <div class="col-md-4">
      {{outlet}}
    </div>
    <div class="col-md-4">
      {{#each model.artists as |artist|}}
        <div>
          {{#link-to 'artists.artist' artist.id}}
            {{artist.name}}
          {{/link-to}}
        </div>

      {{/each}}
    </div>


  </div>
</div>